@model ForgotPasswordViewModel
@using Wanyar.Core.DTOs;
@{
    ViewData["Title"] = "بازیابی کلمه عبور";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}

<div class="container">
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">وانیار</a></li>
            <li class="breadcrumb-item active" aria-current="page"> بازیابی کلمه عبور </li>
        </ul>
    </nav>
</div>


<main class="client-page">
    <div class="container-content">
        @if (ViewBag.ForgotPassword==true)
        {
            <div class="alert alert-info">
                <p> لینک بازیابی کلمه عبور برای ایمیل وارد شده ارسال شد</p>
                <p>لطفا جهت بازیابی کلمه عبور به ایمیل وارد شده مراجعه کنید.</p>
            </div>           
        }
        <header><h2>بازیابی کلمه عبور </h2></header>

        <div class="form-layer">

            <form action="ForgotPassword" method="post">
              
                <div class="input-group">
                    <span class="input-group-addon" id="email-address"><i class="zmdi zmdi-email"></i></span>
                    <input asp-for="Email" type="email" class="form-control" placeholder="ایمیل" aria-describedby="email-address">
                </div>        
                <div asp-validation-summary="All" class="text-danger"></div>
                <button class="btn btn-success"> تایید و ارسال </button>

            </form>
        </div>

    </div>
</main>